<h3>Sign In</h3>

<form action="/admin" method="POST">
  <div>
    <label for="login-username"><b>Username</b></label>
    <input
      type="text"
      id="login-username"
      name="username"
      placeholder="Enter Username"
      required
    />
  </div>

  <div>
    <label for="login-password"><b>Password</b></label>
    <input
      type="password"
      id="login-password"
      name="password"
      placeholder="Enter Password"
      required
    />
  </div>

  <div>
    <input type="submit" value="Login" class="btn" />
  </div>
</form>

<h3>Register</h3>

<form action="/register" method="POST">
  <div>
    <label for="register-username"><b>Username</b></label>
    <input
      type="text"
      id="register-username"
      name="username"
      placeholder="Enter Username"
      required
    />
  </div>

  <div>
    <label for="register-password"><b>Password</b></label>
    <input
      type="password"
      id="register-password"
      name="password"
      placeholder="Enter Password"
      required
    />
  </div>

  <div>
    <input type="submit" value="Register" class="btn" />
  </div>
</form>
